<div class="thumb">
  <a [routerLink]="[subreddit, post?.id]" *ngIf="hasThumbnail">
    <img [src]="post?.thumbnail" [alt]="post?.thumbnail">
  </a>
</div>

<article>
  <header>
    Posted by <span class="author">{{ post?.author }}</span> on {{ post?.created | redditUnixDate }}
    <span class="tag is-light">{{post?.name}}</span>
  </header>
  <div>

    <h4 class="title is-5">
      <a [routerLink]="[subreddit, post?.id]">{{post?.title}}</a>
    </h4>
  </div>
  <footer>
    <small>
      <span class="score tag is-info is-rounded">{{post.score}}</span>
      <a [routerLink]="[subreddit, post?.id]">{{ post?.num_comments }} comment(s)</a> &middot;
      <a class="permalink" [href]="'https://reddit.com' + post?.permalink" target="_blank">Permalink</a>
    </small>
  </footer>
</article>
