<div class="thumb">
  <a [routerLink]="[subreddit, post?.id]" *ngIf="hasThumbnail">
    <img [src]="post?.thumbnail" [alt]="post?.thumbnail">
  </a>
</div>

<article>
  <header>
    Posted by <span class="author">{{ post?.author }}</span> on {{ post?.created | redditUnixDate }} [{{post?.name}}]
  </header>
  <div>

    <h4 class="title">
      <a [routerLink]="[subreddit, post?.id]">{{post?.title}}</a>
    </h4>
  </div>
  <footer>
    <small>
      <span class="score">{{post.score}}</span> &middot; {{ post?.num_comments }} comment(s) &middot;
      <a class="permalink" [href]="'https://reddit.com' + post?.permalink" target="_blank">Permalink</a>
    </small>
  </footer>
</article>
