header {
  border-bottom: 1px #eee solid;
  padding:1em 0;
}
.comments {
  background-color: #f9f9f9;
  margin-top: 2em;
}
.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6em;
}
