body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

main {
  margin: 0 auto;
  padding-top: 70px;
  width: 800px;
  background-color: white;
}

a {
  color: inherit
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.padded-h {
  padding-left: 1em;
  padding-right: 1em;
}

.padded-v {
  padding-top: 1em;
  padding-bottom: 1em;
}
