main {
  margin: 0 auto;
  padding-top: 70px;
  width: 800px;
  background-color: white;
}

a {
  color: inherit
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
